[main]
logfile = "deurbel.log"

[modules]

[modules.deurbel_knop]
enabled = true
gpio_channel = #
bounce_time_ms = 500
edge_detection = # rising, falling or both
resistor = # pull_up, pull_down or no_pull

[modules.deurbel_gong]
enabled = true
output = true
gong_duration_ms = 1000
gpio_channel = #

[modules.messenger]
enabled = true
output = true

[[modules.messenger.devices]]
name = "telegram"
token = ""
base_url = "https://api.telegram.org"
channel_id = ""

[modules.photo]
temp_dir = "" # for storage of photo's
enabled = true
input = true

[[modules.photo.devices]]
name = "esp32cam"
url = "" # Compleet URL inclusive protocol, ex. http://192.168.1.32
capture_path = "capture" # Path relative to url to send command to capture photo
control_path = "control" # Path relative to url to send command to control various parameters photo
status_path = "status" # Path relative to url to send command to get status of various parameters photo
[[modules.photo.devices.control_parameters]]
"framesize" = 11 # an example of an control parameter
[[modules.photo.devices.control_parameters]]
"quality" = 4 # another example of an control parameter


[modules.homeautomation]
enabled = false
output = true