[main]
logfile = "deurbel.log"

[modules]

[modules.deurbel_knop]
enabled = true
gpio_channel = #
bounce_time_ms = 500
edge_detection = # rising, falling or both
resistor = # pull_up, pull_down or no_pull

[modules.deurbel_gong]
enabled = true
output = true
gong_duration_ms = 1000
gpio_channel = #

[modules.messenger]
enabled = true
output = true

[[modules.messenger.devices]]
name = "telegram"
token = ""
base_url = "https://api.telegram.org"
channel_id = ""

[modules.photo]
enabled = false
input = true

[modules.homeautomation]
enabled = false
output = true