[Unit]
Description = Deurbel
After = network.target

[Service]
Type = simple
ExecStart = %h/.local/bin/poetry run python src/deurbel.py
WorkingDirectory = %h/deurbel/
Restart = on-failure
SyslogIdentifier = Deurbel
RestartSec = 5
TimeoutStartSec = infinity
StandardOutput = journal
StandardError = journal

[Install]
WantedBy = multi-user.target